@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'satoshi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'satoshi';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff') format('woff');
}

@font-face{
  font-family: 'IntegralCF' sans-serif;
  font-style: extra-bold;
  font-weight: 800;
  font-display: swap;
  src: url('/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-extrabold.otf') format('otf');
}

/* @font-face{ */
  /* font-family: 'IntegralCF'; */
  /* font-style: semi-bold; */
  /* font-weight: 600; */
  /* font-display: swap; */
  /* src: url('/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-extrabold.otf') format('otf');
} */